h2 {
    text-align: center;
}

/* Стилізація кнопок */
button {
    background-color: #007bff; /* Колір фону кнопок */
    color: #fff; /* Колір тексту кнопок */
    border: none; /* Видалити рамку */
    padding: 10px 20px; /* Внутрішні відступи */
    margin: 5px; /* Зовнішні відступи */
    cursor: pointer; /* Зміна курсору при наведенні */
}

/* Стилізація таблиць */
table {
    width: 100%; /* Розтягнути таблицю на всю ширину контейнера */
    border-collapse: collapse; /* Злиття границь комірок */
    margin-bottom: 20px; /* Зовнішній відступ знизу таблиці */
}

/* Стилізація заголовків таблиці */
th {
    background-color: #f2f2f2; /* Колір фону заголовків */
    text-align: center; /* Центрування тексту в заголовках */
    padding: 10px; /* Внутрішні відступи в заголовках */
}

/* Стилізація комірок таблиці */
td {
    text-align: center; /* Центрування тексту в комірках */
    padding: 10px; /* Внутрішні відступи в комірках */
}

/* Стилізація посилань номерації сторінок */
span a {
    text-decoration: none; /* Видалити підкреслення з посилань */
    padding: 5px 10px; /* Внутрішні відступи в посиланнях */
    background-color: #007bff; /* Колір фону посилань */
    color: #fff; /* Колір тексту посилань */
    border: 1px solid #007bff; /* Рамка навколо посилань */
    margin: 2px; /* Зовнішні відступи між посиланнями */
    border-radius: 5px; /* Закруглені кути для посилань */
}

/* Стиль активного посилання номерації сторінок */
span a.active {
    background-color: #555; /* Колір фону активного посилання */
    border: 1px solid #555; /* Рамка активного посилання */
}