body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #e1c0c0;
}


h3 {
    font-size: 24px;
    margin-top: 20px;
}


h2 {
    font-size: 18px;
    margin: 10px 0;
}