form {
    margin: 20px auto; /* Центрування форми на сторінці */
    width: 300px; /* Ширина форми */
    padding: 20px; /* Зовнішні відступи в формі */
    border: 1px solid #ccc; /* Рамка навколо форми */
    background-color: #f9f9f9; /* Колір фону форми */
    border-radius: 5px; /* Закруглені кути для форми */
}

/* Стиль для текстових полів та вибіркових списків */
input[type="text"],
select {
    width: 100%; /* Розтягнути поле на всю ширину форми */
    padding: 5px; /* Внутрішні відступи в текстових полях і списках */
    margin-bottom: 10px; /* Зовнішній відступ знизу полів і списків */
    border: 1px solid #ccc; /* Рамка навколо полів і списків */
    border-radius: 3px; /* Закруглені кути для полів і списків */
}

/* Стиль для кнопки "Submit" */
input[type="submit"] {
    background-color: #007bff; /* Колір фону кнопки */
    color: #fff; /* Колір тексту кнопки */
    border: none; /* Видалити рамку кнопки */
    padding: 10px 20px; /* Внутрішні відступи */
    cursor: pointer; /* Зміна курсору при наведенні */
    border-radius: 3px; /* Закруглені кути для кнопки */
}

/* Стиль для заголовка форми */
h2 {
    text-align: center; /* Центрування заголовка */
}

/* Стиль для міток */
label {
    display: block; /* Робити мітку блоковим елементом */
    margin-top: 10px; /* Зовнішній відступ зверху мітки */
}